body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

section {
  padding: 60px;
}

.hero {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #222;
  color: white;
}

.nav-links a {
  margin-left: 20px;
  color: white;
}

.project {
  background: white;
  padding: 20px;
  margin-top: 20px;
}